<!--  
<div class="sticky contain-to-grid">

	<nav class="top-bar" data-topbar>

		<ul class="title-area">
			<li class="name" >
				<h1>

				</h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<a href="#"><span>Menu</span></a>
			</li>	
		</ul>

		<section class = "top-bar-section">
			<ul class ="right">
				<li class="divider"></li>

				<li>
					<a href="#">Page 1</a>
				</li>

				<li class="divider"></li>
				<li>
					<a href="#">Page 2</a>
				</li>
				
				<li class="divider"></li>
				<li>
					<a href="#">Page 3</a>
				</li>
				
				<li class="divider"></li>
				<li>
					<a href="#">Page 4</a>
				</li>
			</ul>
		</section>

	</nav>

</div> -->


<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>